*{
  padding: 0;
  margin: 0;
}

.main{
  height: 100vh;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator{
  background-color: red;
  padding: 20px;
  border: solid 5px darkred;
  border-radius: 20px;
}

.btn{
  border: solid 1px white;
  border-radius: 5px;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  transition: 0.5s;

}

.btn:hover{
  border: black 10px solid;
  background-color: darkred;
  /* make button cool */
  transition: 0.5s;

}